﻿@model IEnumerable<TitlesExercise.Title>

@{
    ViewBag.Title = "Home Page";
}

<ol class="round">
@using (Html.BeginForm())
{
<table width="50px" align="center">
<tr>    
<td><input type="text" name="searchString" width="400px" /></td>
<td><input type="submit" value="Search by Title Name" /></td>
</tr>
</table>    
}
@if (Model != null && Model.Count() > 0)
{
<table>
     <tr>
             <th>
             Title Name
          </th> 
          
          <th>
                Release Year
          </th>
          
          <th> </th>
     </tr>

@foreach (var item in Model)
{
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.TitleName)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
          </td>
          <td>
                @Html.ActionLink("Details", "TitleDetails", new { titleId = item.TitleId }) 
                  
               
          </td>
     </tr>
}

</table>
}
@ViewBag.Message
   
</ol>
