﻿@model TitlesExercise.Controllers.TitleDetailsViewModel

@{
    ViewBag.Title = "Title Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Title Details</h1>

@* Title section *@

<table>
     <tr>
             <td>
             @Html.DisplayNameFor(model => model.Title.TitleName)
          </td> 
          
          <td>
                @Html.DisplayFor(model => model.Title.TitleName)
          </td>
     </tr>

     <tr>
          <td>
                @Html.DisplayNameFor(model => model.Title.ReleaseYear)
          </td>
          <td>
                @Html.DisplayFor(model => model.Title.ReleaseYear)
          </td>
     </tr>

</table>

<h2>Awards</h2>

<table>
     <tr>
             <th>
             Award Year
          </th> 
          
          <th>
                Award Won
          </th>
          
          <th> Award Company</th>
     </tr>

@foreach (var item in Model.Awards) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.AwardYear)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.Award1)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.AwardCompany)
                  
               
          </td>
     </tr>
}

</table>

<h2>Other Names</h2>

<table>
     <tr>
             <th>
             Title Name Language
          </th> 
          
          <th>
                Title Name Type
          </th>
          
          <th> Title Name</th>
     </tr>

@foreach (var item in Model.OtherNames) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.TitleNameLanguage)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.TitleNameType)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.TitleName)
                  
               
          </td>
     </tr>
}

</table>


<h2>Story Line</h2>

<table>
     <tr>
             <th>
             Type 
          </th> 
          
          <th>
                Language
          </th>
          
          <th> Description</th>
     </tr>

@foreach (var item in Model.StoryLines) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.Type)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.Language)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.Description)
                  
               
          </td>
     </tr>
}

</table>


<h2>Genres</h2>

<table>
     <tr>
             <th>
             Genre Name 
          </th> 
          
          </tr>

@foreach (var item in Model.Genres) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.GenreName)
          </td>
         
     </tr>
}

</table>


<h2>Participants</h2>

<table>
     <tr>
             <th>
             Name 
          </th> 
          
          <th>Participants Type </th>
          
          <th>Is Key</th>
          <th>Role Type</th>
          <th>Is On Screen</th>
     </tr>

@foreach (var item in Model.Participants) {
     <tr>
          <td>
                @Html.DisplayFor(modelItem => item.ParticipantName)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.ParticipantType)
          </td>
          <td>
                @Html.DisplayFor(modelItem => item.IsKey)
                  
               
          </td>
           <td>
                @Html.DisplayFor(modelItem => item.RoleType)
                  
               
          </td>
           <td>
                @Html.DisplayFor(modelItem => item.IsOnScreen)
                  
               
          </td>
     </tr>
}

</table>



<p>
    @Html.ActionLink("Back to List", "Index")
</p>
